.h5_component_pie{}
.h5_component_pie canvas{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
}
.h5_component_pie .text{
    position: absolute;
    transition: all 1s .5s;

}
