.h5_component_bar{
}
.h5_component_bar .line {
    height:15px;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 15px;

}
.h5_component_bar .name{
    width: 60px;
    float: left;
    color: #000;
    text-align: center;
    position: absolute;
    margin-left: -60px;
}
.h5_component_bar .rate{
    height: 15px;
    margin-left: 5px;
    float: left;
    position: relative;
}
.h5_component_bar .rate .bg{
    background-color: #99c0ff;
    width: 0%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
}
.h5_component_bar .per{
    width: 20px;
    color: #99c9ff;
    margin-left: 8px;
    position: absolute;
    left:100%;
}
.h5_component_bar_load .rate .bg{
    transition: all 1s .5s;
    width:100%;
}
.h5_component_bar_leave .rate .bg{
    width: 0%;
}
.h5_component_bar_load .per{
    transition: all 1s 1.5s;
    opacity:1;
}
.h5_component_bar_leave .per{
    opacity:0;
}

